.pos{
    margin-left:auto;
}
body1{
    margin: 0px;
}

.bg{
    background-color: crimson;
    height: 200px;

}
.li1{
    display: inline-block;
    padding: 10px;
    color: gold;
    font-size: 50px;
    position: relative;
    float: left;
    top: -4px;
    margin-top: 20px;

}
body2{
     width: 100%;
     min-width: 700px;
     max-width: 1920px;
 }
body3 {
      width: 100%;
      min-width: 1400px;
      max-width: 1920px;
  }
.black-bg-chess-piece{
    background: lightslategray;
    height: 100px;
    weight: 100px;
}
.white-bg-chess-piece{
    background: cornsilk;
    height: 100px;
    weight: 100px;

}
.block {
    display: flex;
}

.board {
    padding: 0 20px;
}

span.hidden {
    display: none;
}

.menu {
    display: flex;
    justify-content: center;
}

ul.menu {
    list-style-type: none;
}

.menu li {
    padding: 0 50px;
    font-size: 30px;
}
.menu a {
    text-decoration: none;
}

.player-list {
    align-self: flex-start;
    background-color: aliceblue;
    border: 1px solid black;
    width: 20%;
}

td {
    width: 5vw;
    height: 5vw;
    font-size: 3vw;
    text-align: center;
    box-sizing: border-box;
}

li:hover span.hidden {
    display: inline;
    color: #B00100;
}

td:hover {
    border: 3px dotted red;
}

tr:nth-child(odd) td:nth-child(even)  {
    background-color: #fffcc8;
}

tr:nth-child(odd) td:nth-child(odd) {
    background-color: #4b7787;
}

tr:nth-child(even) td:nth-child(even) {
    background-color: #4b7787;
}

tr:nth-child(even) td:nth-child(odd) {
    background-color: #fffcc8;
}
