
<div class="bg">
  <ul>
    <a href="Champions.html"> <li class="li1">Champions</li></a>
    <a href="chess.html"> <li class="li1">Game</li></a>
    <a href="Rules.html"> <li class="li1">Rules</li></a>

  </ul>
</div>
