
<div class="bg">
  <ul>
    <a href="http://localhost:3000/champions"> <li class="li1">Champions</li></a>
    <a href="http://localhost:3000/game"> <li class="li1">Game</li></a>
    <a href="http://localhost:3000/rules"> <li class="li1">Rules</li></a>

  </ul>
</div>
