<h2>RULES</h2>
<h1>  Шахматная доска и ее расположение

  Шахматная доска состоит из 32 и 32 одинаковых клеток, попеременно светлых (белые поля) и темных (черные поля).

  Шахматная доска располагается между партнерами таким образом, чтобы угловое поле справа от каждого шахматиста было белым.

  Ряд из 8 полей, что идет от края доски, ближайшего к одному партнеру, к краю доски, ближайшего ко второму партнеру, называется вертикалью.

  Ряд из 8 полей, что идет от одного края шахматной доски к другой под прямым углом к вертикалям называется горизонталью.

  Ряд полей одинакового цвета, касающихся друг друга углами, называется диагональю.
  Ведение партии

  Оба партнера должны играть по очереди, делая каждый раз один ход. Партнер, который имеет белые фигуры, начинает партию. Ход белых вместе с последующим ходом черных считается одним ходом. Кому из партнеров играть белыми, решает в товарищеской партии жребий или договоренность игроков, а в соревнованиях — регламент их проведения.
  Фигуры и их расположение

  Перед началом игры каждый партнер имеет в распоряжении 16 фигур:

  8 пешек;
  2 ладьи;
  2 коней;
  2 слонов;
  ферзя;
  короля.

  Общее понятие хода

  За исключением рокировки, ходом называется передвижение одной фигуры с одного поля на другое, свободное либо занятое фигурой соперника. Ходы в шахматах выполняются соперниками по очереди.

  Ни одна из фигур, за исключением ладьи во время рокировки и коня, не может пересекать поле, занятое другой фигурой (перепрыгивать другие фигуры).

  Если фигура перемещается на поле, занятое фигурой противника, то фигура противника должна быть снята с доски игроком, который сделал ход. Такой ход называется взятием. Единственной фигурой, которая не может быть принята и снята с доски, является король.
  Ходы фигур

  Король — за исключением рокировки передвигается со своего поля на одно из свободных смежных полей, которое не находится под ударом фигур соперника. Рокировкой называется переход короля через одно поле с одновременным движением ладьи на это поле, выполняется за один ход (короля). Рокировка выполняется следующим образом: король перемещается по горизонтали на две клетки. Ладья при этом устанавливается на поле, которое пересёк король, а король оказывается за ладьёй, с которой он сделал рокировку. Рокировка окончательно невозможна, если король во время партии двигался. Также рокировка невозможна с ладьёй, которая уже двигалась. Рокировка временно невозможна, если поле, на котором находится король или поле, которое он должен пересечь или занять, находится под ударом фигуры соперника. Также рокировка невозможна, если на горизонтали между королём и соответствующей ладьёй есть другая фигура — собственная или фигура соперника.
  Ферзь — ходит по вертикалям, диагоналям и горизонталям, на которых она находится.
  Ладья — ходит по вертикалям и горизонталям, на которых она находится.
  Слон — ходит по диагоналям, на которых он находится.

  Конь — может пойти на одно из полей, ближайших к тому, на котором он стоит, но не на той же самой горизонтали, вертикали или диагонали.[1]
  Пешки — передвигаются на одно поле только вперёд, за исключением взятия. Со стартовой позиции пешка может пойти как в одну, так и на две клетки. Пешка может взять любую фигуру соперника, которая расположена впереди неё на одну клетку по диагонали. Если пешка делает первый ход сразу на две ячейки и после хода оказывается в одной горизонтали рядом с пешкой соперника, то она может быть взята этой пешкой; тогда последняя переходит на поле, через которое перешла сбитая пешка. Это взятие называется «Взятие на проходе». Оно может быть осуществлено только сразу после того, как соперник сделал такой ход. Любая пешка, достигающая крайней горизонтали, должна быть заменена тем же ходом на ферзя, ладью, слона или коня того же цвета, что и пешка.

  Осуществление хода

  Ход считается сделанным:

  при передвижении фигуры на свободное поле, когда рука игрока отпустила фигуру;
  при взятии — когда взятую фигуру сняли с доски и когда игрок, поставив на новое место свою фигуру, отпустил ее;
  при рокировке — когда рука игрока отпустила  ладью, что стала на поле, которое король пересек;[2]
  при превращении пешки, когда пешка снята с доски и игрок отнял руку от новой фигуры, поставленной на поле превращения;[3]

  Прикосновение к фигуре

  Предупредив заблаговременно соперника, игрок может поправить расположение одной или нескольких фигур на их полях.

  В противном случае, если игрок прикоснется:

  к одной или более фигур одного цвета, он должен пойти или взять первую фигуру, к которой прикоснулся, которой можно пойти или какую можно взять
  к одной из своих фигур и к одной из фигур противника, он должен взять фигуру противника своей фигурой; или, если и это невозможно, пойти своей фигурой; или, если и это невозможно, взять фигуру противника любой другой фигурой.

  Если ход или взятие невозможны, игрок может сделать любой ход.
  Шах

  Шах королю имеет место, когда поле, которое он занимает, оказалось под ударом фигур противника.
  Шах королю должен быть отражен следующим ходом. Шах можно отбить одним из следующих способов:
  отойти королем на поле, которое не находится под ударом фигур соперника;
  взять фигуру, которая угрожает королю;
  прикрыть короля, поставив другую свою фигуру под удар на поле, что находится между королем и фигурой, которая его атакует. Прикрыть короля невозможно от атаки конем.

  Если шах невозможно отразить следующим ходом, то объявляется мат и игрок, который поставил мат, объявляется победителем партии.
  Выигрыш партии

  Партия считается выигранной шахматистом, который дал мат королю партнера.
  Партия считается выигранной тем из партнеров, противник которого признал себя побежденным.
  Партия считается выигранной, если у одного из шахматистов закончилось время на ходы, отведенное регламентом партии, и у его соперника при этом на доске осталось достаточно фигур, чтобы поставить мат за условия наименее компетентной игры соперника. Шахматист, у которого закончилось время, признается побежденным.

  Ничья

  Партия заканчивается вничью:

  В положении, когда возможность выигрыша исключена (король против короля, король против короля со слоном или конем, король со слоном против короля со слоном (при одноцветных слонах)).
  Если король игрока (при его очереди хода) не находится под шахом и игрок не может сделать ни одного хода. Такое положение называется патом.
  При взаимном согласии игроков.
  По требованию игрока, если одна и та же позиция возникает три раза, причем очередь хода каждый принадлежит одному и тому же игроку и, кроме того, во всех случаях имеются абсолютно одинаковые возможности игры (право на рокировку или взятие на проходе) (троекратное повторение позиции)[4][5].
  Когда игрок до совершения хода доказывает, что обеими сторонами сделано не менее 50 ходов, в течение которых ни одна фигура не была взята и ни одна пешка не сделала хода (правило 50 ходов).
  Если у одного из шахматистов закончилось время на ходы, отведенное регламентом партии, и у его соперника при этом на доске недостаточно фигур, чтобы поставить мат за условия наименее компетентной игры соперника (например, если остался одинокий король).
</h1>
<ul class="font-size">

  <a href="http://localhost:3000"> <li >Menue</li></a>
</ul>